/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fffbef;
    text-align: center;
}

.back-button {
    width: 6%;
    margin-top: 4vh;
}

.lovers-quarrel-regular {
  font-family: "Lovers Quarrel", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family:'Playpen Sans', sans-serif;
    font-size: 1vw;
}

a {
    color: #b6b45d;
}

.caption {
    color: #577947;
}

.checkbox-label {
    display: flex;
    align-items: flex-start;
    gap: 1.5%;
    font-family:'Playpen Sans', sans-serif;
    font-size: 0.8vw;
}

.checkbox-label input[type="checkbox"] {
    flex-shrink: 0;
    margin-top: 0.5em;
}

input[type="checkbox"] {
    accent-color: #e4d977;
    width: 1rem;
    height: 1rem;
}

.cursive-accents, .homework-section h3 {
    font-family:'Lovers Quarrel', cursive;
    font-size: 2.7vw;
}

#title-image {
    width: 40vw;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.text-separator {
    width: 13%;
    height: auto;
    margin: 2vh;
}

footer p, .blog-entry-card h3, .caption {
    font-family: 'Courier New', monospace;
    font-size: 0.8vw;
}