<div class="homework-section">
    <img class="homework-title-card" src="../assets/images/GIS Homework.png" alt="Today's Homework Title Card">
    <h3>26th July 2026</h3>
    <form>
        <label class="checkbox-label">
            <input type="checkbox" name="task1">
            <span>Map locations of Auckland dune forests in QGIS.</span>
        </label><br>
        <label class="checkbox-label">
            <input type="checkbox" name="task2">
            <span>Learn about why dune forests appear inland and how they form, 
            and investigate the history of the dune forests in the Muriwai / Waimauku area.</span>
        </label><br>
        <label class="checkbox-label">
            <input type="checkbox" name="task3">
            <span>Find satelite imagery of a dune forest in Auckland.</span>
        </label><br>
        <label class="checkbox-label">
            <input type="checkbox" name="task4">
            <span>Find out which plant species are characteristic of mature dune forests.</span>
        </label><br>
    </form>
    <img class="text-separator" src="../assets/images/icons/compass-text-separator.jpg" alt="A compass icon">
</div>