<header>
    <img id="title-image" src="assets/images/Title Card.png" alt="Eco Academy Title Card">
</header>
<p>
    <span class="cursive-accents">Kia ora,</span><br>
    I'm Johnathan, an ecologist-wannabe currently based in Tāmaki Makaurau, Aotearoa.<br>
    I spun up this website for fun, but also to track my learning and share my latest progress and discoveries.<br>
    Click on a topic below to see what I've been up to in that realm.
</p>
<div>
    <div id="topics-box">
        <div class="topic">
            <a routerLink="/gis"><img src="assets/images/icons/GIS.png" alt="GIS Icon"></a>
        </div>
        <div class="topic">
            <img src="assets/images/icons/NZ Fauna.png" alt="NZ Fauna Icon">
        </div>
        <div class="topic">
            <img src="assets/images/icons/NZ Flora.png" alt="NZ Flora Icon">
        </div>
        <div class="topic">
            <img src="assets/images/icons/Biology.png" alt="Biology Icon">
        </div>
        <div class="topic">
            <img src="assets/images/icons/Ecology.png" alt="Ecology Icon">
        </div>
        <div class="topic">
            <img src="assets/images/icons/Maori.png" alt="Te Reo me te Ao Māori Icon">
        </div>
    </div>
</div>
<app-footer></app-footer>